birdy
cfgrib
datetime
ecmwflibs
ecmwf-opendata
IPython
ipyleaflet
ipywidgets
localtileserver @ git+https://github.com/paolchol/localtileserver.git@fix_palettes
Magics
matplotlib
numpy
pandas
pdbufr
Pillow
rasterio
requests
rioxarray
scipy
voila
xarray