birdy
bqplot
branca
cfgrib
datetime
eccodes #conda forge
# ecmwflibs
ecmwf-opendata
haversine
IPython
ipyleaflet
ipywidgets
jupyterlab
localtileserver
magics #conda forge
matplotlib
numpy
pandas
pdbufr
rasterio
requests
rioxarray
scipy
voila
xarray