birdy
bqplot
branca
cfgrib
datetime
eccodes
ecmwflibs
ecmwf-opendata
haversine
IPython
ipyleaflet
ipywidgets
jupyterlab
localtileserver
magics
matplotlib
numpy
pandas
pdbufr
rasterio
requests
rioxarray
scipy
voila
xarray
